<div style="display: block; background: #ffffff;">
  <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
  
</div>
<div>
  <table class="table table-hover">
    <!-- <caption>Derniers colis livrés</caption> -->
    <tr>
      <th>Description du colis</th>
      <th>Envoyeur</th>
      <th>Destinataire</th>
    </tr>
    <tr *ngFor="let parcel of lastParcel">
      <td>{{parcel.name}}</td>
      <td>{{parcel.sender}}</td>
      <td>{{parcel.reciever}}</td>
    </tr>
  </table>
</div>